/*All*/
    html, body {
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100vw;
        overflow-x: hidden;
        overflow-y: scroll;
        background: linear-gradient(to right, #0D0D0D, #18062A) no-repeat center center fixed;
        font-family: 'Roboto Mono', monospace;
        letter-spacing: .1rem;
        scroll-behavior: smooth;
    }

    h2 {
        margin-top: 1.75em;
        color: #ff370f;
        font-size: 2em;
        letter-spacing: .25rem; 
    }
        
    h3 {
        margin: 0 auto;
        z-index: 2;
        position: relative;
        filter: brightness(135%);
        font-family: 'Quicksand', sans-serif;
        color: #c6c6cc;
        font-size: 1.4em;
        letter-spacing: .15rem;
        text-shadow: 0px 1px 2px rgba(0, 0, 0, 1);
    }

    strong {font-size: 1.4em; font-weight: 700;}

    .h3s {
        margin: .8em 0;
        text-align: left;
        cursor: pointer;
        transition: all .6s ease-out;
    }
    .h3s:hover{color: purple;}
    .h3s:after {
        display: block;
        position: absolute;
        left: 0;
        bottom: -5px;
        height: 3px;
        width: 0;
        content: "";
        background-color: purple;
        transition: width .3s ease-in;
    }
    .h3s:hover:after {width: 100%;}
    .h3p {margin: 1.2em .8em;}

    h1#webstorm, p {
        margin: .5em;
        max-width: 650px;
        /*color: #c6c6cc;*/
        color: #f8f8ff;
        font-size: .9em;
        opacity: .95;
    }

    .pac {text-align: center;}
    .ptit {opacity: .95; color: #3bccd9;}
    
    a, #f5 {
        text-decoration: none;
        color: #f8f8ff;
        font-size: .9em;
        opacity: .8;     
    }

    .but {
        display: inline-block;
        margin: 4em 0.6em;
        padding: 1em 0;
        width: 180px;
        border: solid 1px #d8021b;
        border-radius: 2px;
        background: none;
        text-align: center;
        font-size: .95em;
        letter-spacing: .1rem; 
        font-weight: 600;
        transition: all ease-out .5s;
    }
    .but:hover {
        box-shadow: inset 180px 0 0 0 #d8021b;
        border: solid 1px #180b08;
        cursor: pointer;
    }
    
    .bt1 {border: solid 1px #FD6B10;}
    .bt1:hover {
        border: solid 1px #180b08;
        box-shadow: inset 180px 0 0 0 #FD6B10;
        cursor: pointer;
    }

    .col {display: flex; flex-direction: column;}
    .row {display: flex; flex-direction: row;}

    .plx {
        height: 100%;
        background-position: center;
        background-size: cover;
        background-image: url("https://bit.ly/2TIsMc4");
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
    .plx2 {height: 33vh;}

    .sect {
        align-items: center;
        width: 100%;
        background-color: none;
        padding-bottom: 2em;
    }

    .s-top {
        margin-bottom: 1.5em;
        max-width: 70vw;
        text-align: center;
    }

    .pad {
        margin: 6em auto;
        max-width: 90%;
        min-width: 200px;
        overflow-y: auto;
        box-shadow: 4px 6px 8px rgba(5,5,5,.5);
        border-radius: 5px;
        background-color: rgba(0,0,0,.85);
        color: #f8f8ff;
        font-size: 0.9em;
    }

    .fb {filter: brightness(200%);}
/*@media*/
    /*Default Small Screen*/
        .pricegrd {display: grid; grid-gap: .5em; margin: 0 .5em;}

        #grd1, #grd2 {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(7, 1fr);
            align-items: center;
            width: 100%;
            min-height: 75vh;
            margin: 1em 0;
        }
        #grd1 > .i-img {transform: translateX(100%);}
        #grd2 > .i-img {transform: translateX(-100%);}

        #pnl1, #pnl2 {
            grid-column-start: 1; grid-column-end: 3;
            grid-row-start: 1; grid-row-end: 8;}
        #ga0, #gb0 {
            grid-column-start: 1; grid-column-end: 3;
            grid-row-start: 1;}
        #ga1, #gb1 {
            grid-column-start: 1; grid-column-end: 3;
            grid-row-start: 2;}
        #ga2, #gb2 {
            grid-column-start: 1; grid-column-end: 3;
            grid-row-start: 4;}
        #ga3, #gb3 {
            grid-column-start: 1; grid-column-end: 3;
            grid-row-start: 6;}
        #ga4, #gb4 {
            grid-column-start: 1; grid-column-end: 3;
            grid-row-start: 3;}
        #ga5, #gb5 {
            grid-column-start: 1; grid-column-end: 3;
            grid-row-start: 5;}
        #ga6, #gb6 {
            grid-column-start: 1; grid-column-end: 3;
            grid-row-start: 7;}

        #home {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 1vw;
            height: 100vh;
        }

        form {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 1fr) repeat(3, auto);
            justify-content: center;}
        #f1 {grid-row-start: 1;}
        #f2 {grid-row-start: 2;}
        #f3 {grid-row-start: 3;}
        #f4 {grid-row-start: 4;}
        #f5 {grid-row-start: 5;}
        .g-recaptcha {grid-row-start: 6; margin: auto 0.6em;}

    @media only screen and (min-width: 600px) {
        h1 {font-size: 4em;} 
        #home {padding: 0 4vw;}
        .pricegrd {grid-template-columns: repeat(2, 1fr);}  
        .modal-box {max-width:600px; margin: 0;}
        .t-img {max-width: 200px; max-height: 125px;}
        
        form {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(3, 1fr) auto;}
        #f1 {grid-column-start: 1; grid-row-start: 1;}
        #f2 {grid-column-start: 1; grid-row-start: 2;}
        #f3 {grid-column-start: 1; grid-row-start: 3;}
        #f4 {
            grid-column-start: 2;
            grid-row-start: 1;
            grid-row-end: 4;}
        #f5 {grid-column-start: 1;grid-row-start: 4;}
        .g-recaptcha {grid-column-start: 2; grid-row-start: 4;}
    }

    @media only screen and (min-width: 800px) {
        #grd1, #grd2 {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(4, 1fr);
        }

        #pnl1 {grid-column-start: 2; grid-column-end: 4;
            grid-row-start: 1; grid-row-end: 5;}
        #ga0 {grid-column-start: 2; grid-row-start: 1;}
        #ga1 {grid-column-start: 2; grid-row-start: 2;}
        #ga2 {grid-column-start: 2; grid-row-start: 3;}
        #ga3 {grid-column-start: 2; grid-row-start: 4;}
        #ga4 {grid-column-start: 1; grid-column-end: 1;
            grid-row-start: 2;}
        #ga5 {grid-column-start: 1; grid-column-end: 1;
            grid-row-start: 3;}
        #ga6 {grid-column-start: 1; grid-column-end: 1;
            grid-row-start: 4;}

        #pnl2 {grid-column-start: 1; grid-column-end: 3;
            grid-row-start: 1; grid-row-end: 5;}
        #gb0 {grid-column-start: 2; grid-row-start: 1;}
        #gb1 {grid-column-start: 2; grid-row-start: 2;}
        #gb2 {grid-column-start: 2; grid-row-start: 3;}
        #gb3 {grid-column-start: 2; grid-row-start: 4;}
        #gb4 {grid-column-start: 3; grid-row-start: 2;}
        #gb5 {grid-column-start: 3; grid-row-start: 3;}
        #gb6 {grid-column-start: 3; grid-row-start: 4;}

        #grd1 > .i-img {transform: translateX(0);}
        #grd2 > .i-img {transform: translateX(0);}
    }

    @media only screen and (min-width: 1200px) {
        .pricegrd {grid-template-columns: repeat(4, 1fr);}
        #home {padding: 0 18vw;}
        #l, #r {opacity: 0;}
    } 
    
    /*Turn this on if trouble with mobile
        @media only screen and (max-device-width: 1366px) {
          .parallax {
            background-attachment: scroll;
          }
        }*/
/*Navigation page*/
    nav {
        z-index: 3;
        position: sticky;
        top: 0;
        height: 60px;
        width: 100%;
        overflow: hidden;
        margin: 0 auto;
        background: linear-gradient(to right, #0D0D0D, #18062A);
        text-align: center;
    }
    .oct {overflow: visible;}

    .n1img {
        max-width: 12px;
        transform: translate(280%, -120%);
        margin: .5em;
    }
    .n-img {
        max-width: 36px;
        transform: translateX(-50%);
        margin: .5em;
        cursor: pointer;
        transition: .3s;
    }
    .n-img:hover {transform: translateX(-50%) scale(.9);}

    .module {
        display: flex;
        position: relative;
        min-height: 75vh;
    }
    .module::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        background-position: center;
        background-image: url(https://bit.ly/2PEkoYl);
        background-repeat: no-repeat;
        background-size: cover;
        filter: brightness(25%) opacity(75%) blur(1px);
    }

    .clse{
        background-color: #d8021b;
        font-size:24px;
        padding:8px 12px;
        top:0;
        height:32px;
        border-radius: 0 0 5px 5px;
        z-index: 5;
      }
    .clse.cnv {position:relative; right:-85%;}
/*Landing Page*/
    #title {
        max-width: 360px;
        padding: 2em 0.5em;
    }
        /*h1 { 
        font-size: 3em;
        margin: .9em 0;
        font-family: 'Quicksand', sans-serif;
        text-shadow: -1px 1px 3px #18062A;
        color: #CFEBFF;
        transition: text-shadow cubic-bezier(0.1, 2.5, 0.58, 0) .4s;
        transition: color .25s;
    }
    em#thin {font-weight: 300;}
    em#thick {font-weight: 700;}*/

    .typewrite {min-height: 3em;}