/*All*/
    html, body {
        margin: 0;
        padding: 0;
        background: linear-gradient(to right, #0D0D0D, #18062A) no-repeat center center fixed;;
        height: 100%;
        font-family: 'Roboto Mono', monospace;
        letter-spacing: .1rem;
        scroll-behavior: smooth;
        width: 100vw;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    h2 {
        font-size: 1.6em;
        letter-spacing: .25rem;
        color: #D9483B; 
        margin-top: 1.75em;
    }
        
    h3 {
        position: relative;
        margin: 0 auto;
        font-family: 'Quicksand', sans-serif;
        font-size: 1.4em;
        letter-spacing: .15rem;
        color: #c6c6cc;
        text-shadow: 0px 1px 2px rgba(0, 0, 0, 1);
        z-index: 2;
    }

    strong {
        font-size: 1.4em;
        font-weight: 700;
    }

    .h3s {
        text-align: left;
        margin: .8em 0;
        cursor: pointer;
        transition: all .6s ease-out;
    }

    .h3s:hover{
        color: purple;
    }

    .h3s:after {
        display: block;
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 0;
        height: 3px;
        background-color: purple;
        content: "";
        transition: width .3s ease-in;
    }

    .h3s:hover:after {
        width: 100%;
    }

    .h3p {
        margin: 1.2em .8em;
    }

    p {
        margin: .5em;
        color: #c6c6cc;
        opacity: .8;
        max-width: 650px;
    }

    .ptit {
        opacity: .95;
        color: #2fa3ad;
    }

    .sbt {
        letter-spacing: .1rem;
        margin: .25em .5em;
    }
    
    .sbt2 {
        text-align: center;
        line-height: 1.5em;
    }

    a {
        font-size: .9em;
        text-decoration: none;
        color: #f8f8ff;
        opacity: .8;     
    }

    .but {
        display: inline-block;
        align-self: left;
        margin: 4em 0.6em;
        padding: 1rem 0;
        max-height: 19.2px;
        width: 180px;
        border: solid 1px #d8021b;
        border-radius: 2px;
        background: none;
        text-align: center; 
        font-weight: 600;
        font-size: .95em;
        letter-spacing: .1rem;
        transition: all ease-out .5s;
    }

    .but:hover {
        box-shadow: inset 180px 0 0 0 #d8021b;
        border: solid 1px #180b08;
        cursor: pointer;
    }

    .col {
        display: flex;
        flex-direction: column;
        /*justify-content: center;
        flex-wrap: wrap;*/
    }

    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .plx {
        background-image: url("https://bit.ly/2TIsMc4");
        height: 100%;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .plx2 {
        height: 40%;
    }

    .sect {
        align-items: center;
        width: 100%;
        background-color: none;
        padding-bottom: 2em;
    }

    .s-top {
        text-align: center;
        margin-bottom: 1.5em;
        max-width: 70vw;
    }

    .pad {
        margin: 1em auto;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.85);
        max-width: 90%;
        min-width: 200px;
        /*max-height: 500px;*/
        overflow-y: auto;
        font-size: 0.9em;
        color: #f8f8ff;
    }

/*@media*/
    /*Default Small Screen*/
        #grd1, #grd2 {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(7, 1fr);
            align-items: center;
            width: 100%;
            min-height: 75vh;
            margin: 1em 0;
        }

        #grd1 > .i-img {transform: translateX(100%);}

        #grd2 > .i-img {transform: translateX(-100%);}

        #pnl1, #pnl2 {
            grid-column-start: 1; grid-column-end: 3;
            grid-row-start: 1; grid-row-end: 8;}
        #ga0, #gb0 {
            grid-column-start: 1; grid-column-end: 3;
            grid-row-start: 1;}
        #ga1, #gb1 {
            grid-column-start: 1; grid-column-end: 3;
            grid-row-start: 2;}
        #ga2, #gb2 {
            grid-column-start: 1; grid-column-end: 3;
            grid-row-start: 4;}
        #ga3, #gb3 {
            grid-column-start: 1; grid-column-end: 3;
            grid-row-start: 6;}
        #ga4, #gb4 {
            grid-column-start: 1; grid-column-end: 3;
            grid-row-start: 3;}
        #ga5, #gb5 {
            grid-column-start: 1; grid-column-end: 3;
            grid-row-start: 5;}
        #ga6, #gb6 {
            grid-column-start: 1; grid-column-end: 3;
            grid-row-start: 7;}

        #top {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 1vw;
            height: 100vh;
        }

        form {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 1fr) repeat(3, auto);
            justify-content: center;
        }
        #f1 {grid-row-start: 1;}
        #f2 {grid-row-start: 2;}
        #f3 {grid-row-start: 3;}
        #f4 {grid-row-start: 4;}
        #f5 {grid-row-start: 5;}
        .g-recaptcha {grid-row-start: 6; margin: auto 0.6em;}

    @media only screen and (min-width: 600px) {        
        #top {padding: 0 4vw;}
        h1 {font-size: 4em;}
        .modal-box {max-width:600px; margin: 0;}
        
        form {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(3, 1fr) auto;
        }
        #f1 {grid-column-start: 1; grid-row-start: 1;}
        #f2 {grid-column-start: 1; grid-row-start: 2;}
        #f3 {grid-column-start: 1; grid-row-start: 3;}
        #f4 {
            grid-column-start: 2;
            grid-row-start: 1;
            grid-row-end: 4;
        }
        #f5 {grid-column-start: 1;grid-row-start: 4;}
        .g-recaptcha {grid-column-start: 2; grid-row-start: 4;}
    }

    @media only screen and (min-width: 800px) {
        #grd1, #grd2 {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(4, 1fr);
        }

        #pnl1 {grid-column-start: 2; grid-column-end: 4;
            grid-row-start: 1; grid-row-end: 5;}
        #ga0 {grid-column-start: 2; grid-row-start: 1;}
        #ga1 {grid-column-start: 2; grid-row-start: 2;}
        #ga2 {grid-column-start: 2; grid-row-start: 3;}
        #ga3 {grid-column-start: 2; grid-row-start: 4;}
        #ga4 {grid-column-start: 1; grid-column-end: 1;
            grid-row-start: 2;}
        #ga5 {grid-column-start: 1; grid-column-end: 1;
            grid-row-start: 3;}
        #ga6 {grid-column-start: 1; grid-column-end: 1;
            grid-row-start: 4;}

        #pnl2 {grid-column-start: 1; grid-column-end: 3;
            grid-row-start: 1; grid-row-end: 5;}
        #gb0 {grid-column-start: 2; grid-row-start: 1;}
        #gb1 {grid-column-start: 2; grid-row-start: 2;}
        #gb2 {grid-column-start: 2; grid-row-start: 3;}
        #gb3 {grid-column-start: 2; grid-row-start: 4;}
        #gb4 {grid-column-start: 3; grid-row-start: 2;}
        #gb5 {grid-column-start: 3; grid-row-start: 3;}
        #gb6 {grid-column-start: 3; grid-row-start: 4;}

        #grd1 > .i-img {
            transform: translateX(0);
        }

        #grd2 > .i-img {
            transform: translateX(0);
        }
    }

    @media only screen and (min-width: 1200px) {
        .pricegrd {grid-template-columns: repeat(4, 1fr);}
        #top {padding: 0 18vw;}
        #l, #r {opacity: 0;}
    } 
    
    /*Turn this on if trouble with mobile
        @media only screen and (max-device-width: 1366px) {
          .parallax {
            background-attachment: scroll;
          }
        }*/

/*Navigation page*/
    nav {
        background: linear-gradient(to right, #0D0D0D, #18062A);
        height: 40px;
        width: 100%;
        overflow: hidden;
        text-align: center;
        position: sticky;
        top: 0;
        z-index: 3;
        margin: 0 auto;
    }

    .oct {
        overflow: visible;
    }

    .n-img {
        max-width: 16px;
        filter: invert(99%);
        margin: 1em;
        padding; 0 auto;
        transition: 1s;
    }

    .n-img:hover {
        transform: scale(2);
        cursor: pointer;
    }

    #flt {
        display: flex;
        filter: brightness(25%) 
            opacity(75%)
            blur(1px);
        max-height: 500px;
        object-fit: cover;
        overflow-x: hidden;
    }

    .clse{
        background-color: #d8021b;
        font-size:24px;
        padding:8px 12px;
        top:0;
        height:32px;
        border-radius: 0 0 5px 5px;
        z-index: 4;
      }

    .clse.cnv {
        position:relative;
        right:-85%;
    }

/*Landing Page*/
    h1 { 
        font-size: 3em;
        margin: .9em 0;
        font-family: 'Quicksand', sans-serif;
        text-shadow: -1px 1px 3px #18062A;
        color: #CFEBFF;
        transition: text-shadow cubic-bezier(0.1, 2.5, 0.58, 0) .4s;
        transition: color .25s;
    }

    /*h1:hover {
        cursor: none;
        text-shadow: -1px 1px 6px rgba(240, 255, 255, 0.25);
        color: #18062A;
    }*/

    em#thin {font-weight: 300;}
    em#thick {font-weight: 700;}

    .typewrite {
        min-height: 3em;
    }

/*Abouts Page*/
    .gri {
        margin: .5em 1.5em;
        text-shadow: 0 0 2px #112541;
        background-color: rgba(17, 37, 65, 0.5);
        border-radius: 5px;
        box-shadow: 3px 4px 5px rgba(0,0,0,.25);
        z-index: 2;
    }

    #grd1 > .gri > p {
        text-align: right;
    }

    #grd2 > .gri > p {
        text-align: left;
    }

    .i-img {
        /*width: 100px;*/
        padding: 1em;
        margin: 0 auto;
    }

    /*FlexPanels*/
        #pnl1, #pnl2 {
            justify-content: center;
            align-items: center;
            background-size: cover;
            background-position: 25% 50%;
            box-shadow: inset 0 0 0 5px rgba(255,255,255,0.1);
            overflow: hidden;
            min-height: 100%;
            z-index: 1;
        }

        #pnl1 { background-image:url(https://images.unsplash.com/uploads/1412198485051133af17f/5049dacb?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);}
        #pnl2 { background-image:url(https://images.unsplash.com/photo-1543196614-e046c7d3d82e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1498&q=80);}

/*HWW Page*/
    #h {
        position: relative;
    }
    #l, #r {
        position: absolute;
        margin: .5em;
        width: 32px;
        top: 50%;
        z-index: 2;
        cursor: pointer;
    }
    #l {
        left: 0;
    }
    #r {
        right: 0;
    }

    #hgrd {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        -ms-overflow-style: none;
    }

    #hgrd::-webkit-scrollbar {display: none;}

    .tcent {text-align: center;}

    .pbox>div>.i-img  {opacity: .65;}
    .pbox>div>.i-img:hover {opacity: 1;}

/*Projects Page*/
    .projgrd {
        display: flex;
        justify-content: center;
        margin: 1em;
        flex-wrap: wrap;
    }

    .clse.cmd {
        position: absolute;
        right: 100px;
    }

    .box {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 350px;
        overflow: hidden;
    }

    .smg {
        filter: brightness(50%);
        height: 350px;
        transform: scale(1);
        transition: all .25s ease-in;
    }

    .smod {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .emg {
        filter: brightness(80%) blur(2.5px);
        height: 350px;
        transform: scale(1.1);
        transition: all .25s ease-out;
    }

    .lnk {
        z-index: 2;
        position: absolute;
        align-items: center;
        justify-content: center;
        box-shadow: inset 0 0 0 5px rgba(255,255,255,0.1);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 350px;
        height: 350px;        
    }

    .slb {
        transform: translateY(-150px);
        transition: all .25s ease-in;
    }

    .sin {
        z-index: 1;
        margin: 10px;
        width: 64px;
        height: 64px;
        filter: opacity(0);
        background-image: url(https://img.icons8.com/wired/64/000000/rain.png);
        transition: background-image 1s ease-in;
    }

    .ein{
        filter: invert(.99) opacity(1);
        transition: filter .5s ease-in;
    }

    .ein:hover {
        filter: invert(0) opacity(.90);
        background-image: url(https://img.icons8.com/dusk/64/000000/storm.png);
    }

    .elb {
        transform: translateY(0);
        transition: all .25s ease-out;
    }

    .stp {
        transform: translateY(150px);
        transition: all .25s ease-out;
    }
    .etp {
        transform: translateY(0);
        transition: all .25s ease-out;
    }

    @keyframes pop {
        from {top:100px;opacity: 0;}
        to {top:0px;opacity:1;}
    }

    .modal-overlay {
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 5;
    }

    .modal-overlay:target {
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
    }

    .modal-box {
        display: block;
        position: relative;
        max-height: 400px;
        width: 600px;
        overflow-y: scroll;
        padding: 4em 1em;
        background: linear-gradient(to bottom, #20002c, #cbb4d4); 
        box-shadow: 3px 6px 9px rgba(0, 0, 0, 0.2);
        animation-name: pop;
        animation-duration: 0.5s;
    }

/*Pricing Page*/
    .pbox {
        margin: 0;
        padding: 1em;
        min-width: 150px;
        transition: all 0.3s ease;
    }

    section.pbox:hover {
        transform: scale(1.05) translateY(-25px);
        border: 1px solid purple;
    }

    .prhd, hr + p {
        min-height: 300px;
    }

    .pb {
        font-size: 4em;
        margin: auto .5em;
    }

    .bt1 {
        border: solid 1px #FD6B10;
    }

    .bt1:hover {
        box-shadow: inset 180px 0 0 0 #FD6B10;
        border: solid 1px #180b08;
        cursor: pointer;
    }

    ul, ol {
        opacity: .75;
        margin: 1em;
        padding-left: 0;
        align-self: left;
        color: #f8f8ff;
    }

    ol {
        padding: 2em;
    }

    ul + .but {
        margin-top: auto;
    }

    ul > li {
        list-style: none;
        margin: .5em;
        padding-left: 2em;
        text-indent: -2em;
    }

    ul > li:before {
        content: "+";
        padding-right: 2em;
    }

/*Contacts Page*/
    input, textarea {
        font-family: 'Roboto Mono', monospace;
        font-size: .9em;
        margin: 10px;
        padding: 10px;
        max-width: 300px;
        border-radius: 5px;
        background-color: #B0C4DE;
        opacity: .6;
    }

/*Footer Section of Contacts Page*/
    footer {
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        min-height: 100px;
        padding: 1em;
        background-color: #111;
        opacity: .5;
    }
    footer p {
        font-size: .8em;
    }

    footer > div {
        justify-content: center;
    }

    .ficon {
        margin: .5em .9em;
        overflow: hidden;
        border: 1px solid white;
        border-radius: 5px;
        background-color: white;
        box-shadow: 3px 4px 5px rgba(0, 0, 0, .5);
        height: 16px;
        width: 16px;
    }

    .ficon:hover {
        filter: opacity(.5);
    }

/*Put this at bottom.
    PICS
    Photo by Johannes Plenio on Unsplash https://unsplash.com/photos/2QUvkQTBh5s
    ICONS
    <a href="https://icons8.com/icon/66000/secure">Secure icon by Icons8</a>

    style='background-image: url("https://irp-cdn.multiscreensite.com/e48fec65/dms3rep/multi/desktop/content_23_img1_2x.jpg"); background-size: cover; background-repeat: no-repeat; background-position: center center; width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;'
    */

/*Icons*/
    /*cloud <img src="https://img.icons8.com/wired/64/000000/cloud.png">
    rain <img src="https://img.icons8.com/wired/64/000000/rain.png">
    storm <img src="https://img.icons8.com/wired/64/000000/storm.png">
    storm color <img src="https://img.icons8.com/dusk/64/000000/storm.png">

    /*Icon color*/ 
    /*#3bccd9*/
    /*#3bd997*/